
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    border-bottom: 2px solid red;
    color: red;
}

.header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

.main {
    padding: 40px;
}


.footer {
    position: absolute;
    bottom: 0px;
    left: 5px;
    right: 5px;
    width: 99%;
    border-top: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.footer p {
    font-style: italic;
}